.header {
    background: transparent url('../static/img/rachelgardner.jpg') no-repeat;
    background-position: -300px -150px;
    background-size: auto;
    
    font-family: 'Oswald', sans-serif, inherit;
    font-weight: 300;
    width: auto;
    height: 250px;
    font-size: 17px;
    padding-left: 0px;
    padding-right: 0px;
}

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    font-family: palatino, fantasy, inherit;
}

.navigation-bar {
    z-index: 500;
}

.navigation-bar li {
    float: left;
}

.navigation-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-bar li a:hover {
    background-color: #111;
}

.profile #profile-img {
    border-radius: 100px;
    height: 200px;
}

.intro p {
    font-size: 30px;
    text-align: left;
}

h2 {
    align-content: center;
    font-family: sans-serif;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.7); 
    background-size: contain;
    
    height: 500px;
    
    
    
}

.slider .slide {
    position: relative;
    z-index: -1;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}