.header {
    background: transparent url('../static/img/rachelgardner.jpg') no-repeat;
    background-position: -300px -150px;
    background-size: auto;
    
    font-family: 'Oswald', sans-serif, inherit;
    font-weight: 300;
    min-width: 1400px;
    width: auto;
    height: 250px;
    font-size: 17px;
    padding-left: 0px;
    padding-right: 0px;
}

body {
    position: relative;
    z-index: -2;
    min-width: 1000px;
    width: auto !important;
    width: 1000px;
}

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    font-family: Palatino, arial;
}

.navigation-bar {
    position: fixed;
    z-index: 500;
}

.navigation-bar li {
    float: left;
}

.navigation-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-bar li a:hover {
    background-color: #111;
}

.dropdown-toggle {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #111}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    min-width: 1000px;
}

.profile {
    position: relative;
    z-index: -1;
    max-height: 300px;
}

.profile .row {
    max-height: 300px;
}

.profile #profile-img {
    border-radius: 100px;
    height: 200px;
}

.profile p {
    font-size: 20px;
    text-align: left;
}

.profile .divider {
    height: 250px;
    width: 3px;
    background-color: #FF1493; 
}

#profile-name {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    max-width: 300px;
    font-family: Palatino, arial;
}

.welcome-1 {
    background: transparent url("../static/img/kid.jpg") no-repeat; 
    background-position: -80px -200px;
    background-size: auto;
    height: 500px;
    width: auto;
}

.welcome-2 {
    background: transparent url("../static/img/korosensei.jpg") no-repeat; 
    background-position: 0 0 ;
    background-size: 1200px;
    height: 500px;
    width: auto;
}

.welcome-3 {
    background: transparent url("../static/img/miku.jpg") no-repeat; 
    background-position: -50px -100px;
    background-size: 1200px;
    height: 500px;
    width: auto;
}

.welcome-4 {
    background: transparent url("../static/img/kotobanoniwa.jpg") no-repeat; 
    background-position: 0px 0px;
    background-size: 1200px;
    height: 500px;
    width: auto;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.4); 
    background-size: contain;
    
    height: 500px;
}

.slider {
    position: relative;
    width: 100%;
    height: 500px;
}

.slider .slide {
    z-index: -1;
    display: none;
    background-size: cover;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active-slide {
    display: block;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}